doctype html
html
  head(lang="ru")
    include includes/__head
  body
    include components/header
    main
      include sections/welcome
      include sections/resume
      include sections/works
    include components/footer
