.header
  padding: 20px 0px
  .container
    @include dfr()
    justify-content: space-between
    align-items: flex-start
    @media screen and ( max-width: 500px )
      justify-content: flex-end
  &-contact
    @include dfr()
    align-items: flex-start
    opacity: 1
    transition: all 0.4s
    @media screen and ( max-width: 500px )
      display: none
    &:hover
      opacity: 0.5
    &__icon
      margin-right: 20px
      @media screen and ( max-width: 767px )
        display: none
      svg
        width: 30px
        height: auto
        path
          fill: #fff
    &__text
      font-size: 20px
      line-height: 25px
      color: #fff
      margin-top: 2px
      @media screen and ( max-width: 767px )
        font-size: 18px
        line-height: 24px
  &-nav
    @include dfr()
    margin-top: 2px
    a
      font-size: 20px
      line-height: 25px
      color: #fff
      margin-right: 50px
      opacity: 1
      transition: all 0.4s
      @media screen and ( max-width: 767px )
        font-size: 18px
        line-height: 24px
        margin-right: 20px
      &:hover
        opacity: 0.5
      &:last-child
        margin-right: 0px
