section.resume
  .container
    .resume-wrapper
      h2.common-h2.section-title
      ul.resume-list
        li.resume-item
          h3.common-h3.resume-item__title Опыт работы
          ul.resume-sublist
            li.resume-subitem
              p.resume-subitem__title Dextra
              p.resume-subitem__subtitle Верстальщик
              p.resume-subitem__text Февраль 2020 - Сентябрь 2020
            li.resume-subitem
              p.resume-subitem__title Dextra
              p.resume-subitem__subtitle Старший верстальщик
              p.resume-subitem__text Сентябрь 2020 - Сейчас
        li.resume-item
          h3.common-h3.resume-item__title Образование
          ul.resume-sublist
            li.resume-subitem
              p.resume-subitem__title Челябинский Государственный Университет
              p.resume-subitem__subtitle Математический факультет. Кафедра вычислительной механики и информационных технологий
              p.resume-subitem__text 2017 - 2021
        li.resume-item.resume-item--skills
          h3.common-h3.resume-item__title Умения
          ul.resume-sublist
            li.resume-subitem
              p.resume-subitem__subtitle React
            li.resume-subitem
              p.resume-subitem__subtitle Redux
            li.resume-subitem
              p.resume-subitem__subtitle TypeScript
            li.resume-subitem
              p.resume-subitem__subtitle JavaScript
            li.resume-subitem
              p.resume-subitem__subtitle Webpack
            li.resume-subitem
              p.resume-subitem__subtitle HTML, CSS
            li.resume-subitem
              p.resume-subitem__subtitle Хорошее понимание бэкенда
            li.resume-subitem
              p.resume-subitem__subtitle Работа с базами данных
