section.welcome
  .container
    .welcome-wrapper
      .welcome-photo
        img(src="", alt="alt")
      p.welcome-name Привет, меня зовут Карим
      h1.common-h1.welcome-phrase React разработчик
      p.welcome-desc Frontend
    .contacts
      button.btn.contacts-button
      ul.contacts-list
        li.contacts-item
          a(href="") vk
        li.contacts-item
          a(href="") telegram
        li.contacts-item
          a(href="") whatsapp
        li.contacts-item
          a(href="") gmail