section.works
  .container
    .works-wrapper
      h2.common-h2.section-title
      ul.works-list.works-list--first
        li.works-item
          a(href="").works-item__href
            img(src="", alt="alt").works-item__img
            .works-item__wrapper
              p.works-item__name
              p.works-item__text
              p.works-item__desc
        li.works-item
          a(href="").works-item__href
            img(src="", alt="alt").works-item__img
            .works-item__wrapper
              p.works-item__name
              p.works-item__text
              p.works-item__desc
        li.works-item
          a(href="").works-item__href
            img(src="", alt="alt").works-item__img
            .works-item__wrapper
              p.works-item__name
              p.works-item__text
              p.works-item__desc
        li.works-item
          a(href="").works-item__href
            img(src="", alt="alt").works-item__img
            .works-item__wrapper
              p.works-item__name
              p.works-item__text
              p.works-item__desc