section.works(id="works")
  .container
    h2.common-h2.section-title Мои работы
    .works-wrapper
      ul.works-list.works-list--first
        li.works-item
          a(href="https://shoffkarim-chat.herokuapp.com/" target="_blank").works-item__href
            img(src="img/chat.png", alt="Чат на React").works-item__img
          .works-item__wrapper
            p.works-item__name Чат на React, TypeScript
            p.works-item__text Frontend часть чата
            p.works-item__desc Форма регистрации с помощью formik, база данных в виде json-server, отправка запросов axios, также использовались redux, react-router, axios, emoji-mart.
            a(href="https://shoffkarim-chat.herokuapp.com/" target="_blank") shoffkarim-chat.herokuapp.com
        li.works-item
          a(href="https://shoffkarim-shop.herokuapp.com/" target="_blank").works-item__href
            img(src="img/shop.png", alt="Магазин на React").works-item__img
          .works-item__wrapper
            p.works-item__name Магазин на React
            p.works-item__text Посадка готовой верстки на React
            p.works-item__desc Добавление товаров в корзину, отдельные карточки товара. Слайдеры swiper, база данных в виде json-server, также использовались redux, react-router, axios.
            a(href="https://shoffkarim-shop.herokuapp.com/" target="_blank") shoffkarim-shop.herokuapp.com
      ul.works-list.works-list--second
        li.works-item
          a(href="https://shoffkarim.github.io/ast/" target="_blank").works-item__href
            img(src="img/ast.png", alt="Верстка многостраничного сайт АСТ").works-item__img
          .works-item__wrapper
            p.works-item__name АСТ
            p.works-item__text Верстка многостраничного сайта для агрокомплекса
            p.works-item__desc На сайте 14 уникальных страниц, анимации с помощью javascript и много интересных решений.
            a(href="https://shoffkarim.github.io/ast/" target="_blank") shoffkarim.github.io/ast
        li.works-item
          a(href="https://shoffkarim.github.io/sckk/" target="_blank").works-item__href
            img(src="img/sckk.png", alt="Верстка многостраничного сайта СЦКК").works-item__img
          .works-item__wrapper
            p.works-item__name СЦКК
            p.works-item__text Верстка многостраничного сайта для картонного завода
            p.works-item__desc На сайте около 30 уникальных страниц, а также попапы с формами, поиском и видео. Сайт полностью адаптивый.
            a(href="https://shoffkarim.github.io/sckk/" target="_blank") shoffkarim.github.io/sckk
