section.works
  .container
    h2.common-h2.section-title Мои работы
    .works-wrapper
      ul.works-list.works-list--first
        li.works-item
          a(href="").works-item__href
            img(src="img/sckk.png", alt="alt").works-item__img
          .works-item__wrapper
            p.works-item__name СЦКК
            p.works-item__text Верстка многостраничного сайта для картонного завода
            p.works-item__desc На сайте около 30 уникальных страниц, а также попапы с формами, поиском и видео. Сайт полностью адаптивый
        li.works-item
          a(href="").works-item__href
            img(src="img/sckk.png", alt="alt").works-item__img
          .works-item__wrapper
            p.works-item__name СЦКК
            p.works-item__text Верстка многостраничного сайта для картонного завода
            p.works-item__desc На сайте около 30 уникальных страниц, а также попапы с формами, поиском и видео. Сайт полностью адаптивый
      ul.works-list.works-list--second
        li.works-item
          a(href="").works-item__href
            img(src="img/sckk.png", alt="alt").works-item__img
          .works-item__wrapper
            p.works-item__name СЦКК
            p.works-item__text Верстка многостраничного сайта для картонного завода
            p.works-item__desc На сайте около 30 уникальных страниц, а также попапы с формами, поиском и видео. Сайт полностью адаптивый
        li.works-item
          a(href="").works-item__href
            img(src="img/sckk.png", alt="alt").works-item__img
          .works-item__wrapper
            p.works-item__name СЦКК
            p.works-item__text Верстка многостраничного сайта для картонного завода
            p.works-item__desc На сайте около 30 уникальных страниц, а также попапы с формами, поиском и видео. Сайт полностью адаптивый