footer.footer
  .container
    .footer-wrapper
      ul.footer-links
        li.footer-item
          a(href="") vk
        li.footer-item
          a(href="") telegram
        li.footer-item
          a(href="") whatsapp
      .footer-contact
        .footer-contact__icon
        a.footer-contact__href karimshoff@gmail.com