header.header
  .container
    .header-wrapper
      .header-contact
        .header-contact__icon
        a.header-contact__href karimshoff@gmail.com
      nav.header-nav
        a(href="") Работы
        a(href="") Резюме
        a(href="") Контакты
        